<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand" href="home">     
      <img src="../favicon.ico">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="ativado" class="nav-link active" aria-current="page" >Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cursos" routerLinkActive="ativado" class="nav-link active" >Cursos</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/curso', idCurso.value]" routerLinkActive="ativado" class="nav-link active" >Curso com ID</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <p>Entre com o id do curso</p>
  <input #idCurso>
  <router-outlet></router-outlet>
</div>
