<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand" href="home">     
      <img src="../favicon.ico">
    </a>
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav">   
        <li class="nav-item">
          <a routerLink="/templateForm" routerLinkActive="ativado" class="nav-link active" >Form - Template Driven</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dataForm" routerLinkActive="ativado" class="nav-link active" >Form - Data Driven</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

