 <!--<app-diretiva-ngif></app-diretiva-ngif>  -->

<!-- <app-diretiva-switch></app-diretiva-switch> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor>  -->

<!-- <app-ngclass></app-ngclass> -->

<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ngcontent>
    Conteudo passado para o componente
</app-exemplo-ngcontent> -->


<!-- <app-exemplo-ngcontent>
    <div class="titulo">Titulo do PAINEL</div>
    <div class="corpo">
        Conteudo passado para o componente1
    </div>
    <div class="corpo">
        Conteudo passado para o componente3
    </div>
    
</app-exemplo-ngcontent> -->


<app-diretivas-customizadas></app-diretivas-customizadas>
<router-outlet></router-outlet>