#validate {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fff;
    border-color: #007BFF;
}
#disabled{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fff;
    border-color: #007BFF;
}